@media all and (max-width:640px){


#yann {display: none;}
#hi_text {
  width:100%;
  padding: 0 5% 5% 5%;
  }
.footer-box img {
  //height:100px;
}

}

@media all and (max-width: 1080px) {
  #fullPage-nav {display: none;}

}
